<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ViewDataに設定された"Title"の値をタイトルに表示 -->
    <title>@ViewData["Title"] - WebApp_Sample</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- CSSファイルにバージョン情報を付与してキャッシュを防ぐ -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp_Sample.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                 <!-- ルーティング属性でHomeControllerのIndexアクションにリンク -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp_Sample</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <!-- Homeリンク（HomeControllerのIndexアクション） -->
                            <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeRegister" asp-action="Enter">社員情報登録</a>
                        </li>
                        <li class="nav-item">
                            <!-- Privacyリンク（HomeControllerのPrivacyアクション） -->
                           
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <!-- 各ビュー（.cshtmlファイル）の内容がここに表示される -->
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebApp_Sample - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScriptにバージョン情報を付与 -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- 各ビューでScriptsセクションを定義していれば、その内容を挿入する -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>