@{
    ViewData["Title"] = "Internal system";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Enter" asp-controller="EmployeeList" class="btn btn-primary mt-3">
        社員情報一覧
    </a>
    <a asp-action="Enter" asp-controller="DepartmentList" class="btn btn-primary mt-3">
        部署情報一覧
    </a>
    <br>
    <a asp-action="Enter" asp-controller="EmployeeRegister" class="btn btn-primary mt-3">
        社員情報登録
    </a>
    <a asp-action="Enter" asp-controller="DepartmentRegister" class="btn btn-primary mt-3">
        部署情報登録
    </a>
</div>
