@* クラスの名前空間を指定する(C#と同じ) *@
@using csharp_training_202605.Presentations.ViewModels
@* View が受け取るデータ型（ViewModel）を宣言asp-for はこの型のプロパティと結びつける *@
@model EmployeeRegisterViewModel;
@{
    ViewData["Title"] = "従業員登録(入力)";
}
<h2 class="text-center mt-4">@ViewData["Title"]</h2>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6"> 
            @* 送信先はControllerのConfirm()、POSTは入力値を送信する*@
            <form asp-action="Confirm" asp-controller="EmployeeRegister" method="post">
                <div class="mb-3">
                    @* Tag Helperがname属性やid属性を自動生成 Model Bindingに必要なHTMLが作成される*@
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    @*バリデーション(ModelState)エラーを表示する*@
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DeptId" class="form-label"></label>
                    @*asp-itemsはSelectListItemのリストを受け取る*@
                    <select asp-for="DeptId" asp-items="Model.Departments" class="form-control"></select> 
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">完了</button>
                </div>
            </form>
        </div>
    </div>
</div>